body {margin:0;}
#robustlogo{
	margin-left:20px;
	margin-top:0;
	max-width:100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFB600;
  position: fixed;
  top: 0;
  width: 100%;
 
}

li {
  float: right;
  border-right:2px solid #F5FFCB;
}


li a {
  display: block;
  color: #333333;
  text-align: center;
  padding: 24px 20px;
  max-width:100%;
  text-decoration: none;
  font-family: helvetica;
  font-weight: normal;
  font-size: 17px;
max-height:100%;
}

li a:hover:not(.active) {
  background-color: #ED9121;
}
.active {
  background-color: #C78023;
}
.header{
	margin-top:20px;
	max-width: 100%;
}
hr.border1 {
  border: 2px solid orange;
  border-radius: 3px;
}
hr.border2 {
   border: 2px solid orange;
  border-radius: 3px; 
}
}
*{box-sizing:border-box;}

.column {
  float: left;
  max-width: 40%;
  padding: 15px;
  max-height: 100%;
  margin:auto;
}

@media screen and (max-width: 100%) {
  .column  {
    width: 100%;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content h2{
   font-size: 26px;
   text-align: center;
   font-family: Verdana;
   font-style: italic;
   color: #333333;
   cursor: pointer;
	margin-left:50px;
margin-top: 50px;
}
.content p{
  text-align:justify;
  font-size: 16px;
  font-family: Microsoft YaHei;
  line-height:1.6;
  margin-left:50px;
margin-top:50px;
}
#bun{
  color: black;

}
.img-bun{
	max-width: 90%;
	max-height:63%;
	display: block;
	cursor: pointer;
	transition-duration: 0.4s;
	text-align:center;
        margin-left: 10px;
	margin-top:100px;
}
.img-bun:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}

.page{text-align:center;}
span.a:hover {background-color: #BA6A29;}
span.a {
  display: inline; /* the default for span */
  border-radius: 50%;
  cursor: pointer;
  padding: 7px;
  margin: 6px 9px;
  font-size:30px;
  text-align: center;
  color:white;
  border: none;  
  background-color: #BC7E4B; 
}

footer {
  color: white;
  border-radius: 1px;
  background-color: #FFB600;
  padding: 3px;
}


a.title:link {color:#616161;text-decoration:none;}
a.title:visited {color:black;text-decoration:none;}
a.title:hover {text-decoration:none;}

a.num:link {color:#616161;text-decoration:none;}
a.num:visited {color:black;text-decoration:none;}
a.num:hover {color:grey;text-decoration:none;}
a.num{font-size:20px;}

* {
  box-sizing: border-box;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float:left;
  width: 75%;
  background: #f1f1f1;

}

form.example button {
  float: right;
  width: 25%;
  padding: 10px;
  background: #C8AE7E;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #D2BD96;
}

form.example::after {
  content: "";
  clear:both;
  display: table;
}

#myBtn{
  color: grey;
  font-size: 15px;
  cursor: pointer;
}
